<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.openrat.android.blog" android:versionCode="1"
	android:versionName="1.0">

	<application android:icon="@drawable/logo" android:label="@string/app_name">
		<activity android:name=".OpenRatBlog" android:label="@string/connect">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="Configuration" android:label="@string/preferences"></activity>
		<activity android:name="ProjectActivity" android:label="@string/project_list"></activity>
		<activity android:name="FolderActivity" android:label="@string/folder_content"></activity>
		<activity android:name="PageElementsActivity" android:label="@string/page_content"></activity>
		<activity android:name="PropertiesActivity" android:label="@string/folder_properties"></activity>
		<activity android:name="NewActivity" android:label="@string/new1"></activity>
		<activity android:name="EditorActivity" android:label="@string/editor"></activity>

		<service android:name=".service.PublishIntentService"></service>
		<service android:name=".service.UploadIntentService"></service>
	</application>

	<uses-permission android:name="android.permission.INTERNET" />

	<!-- Android 1.6 -->
	<uses-sdk android:minSdkVersion="4"></uses-sdk>

</manifest> 